@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');



html, body {

  color: #fff;

  font-family: input-sans, sans-serif;

  font-size: 92px;

  height: 100%;

  width: 100%;

  overflow: hidden;

  text-align: center;



}

.logo {
  height: auto;
  width: 200px;
  position: absolute;
}



body {

  background: #000;

}



img {

   height: auto;

   max-width: 100%;

}




.horse {

  height: auto;

  max-width: 150px;

  position: absolute;

}

.dolphin {

  height: auto;

  max-width: 500px;

  position: absolute;

}
.palmtree {

  height: auto;

  max-width: 400px;

  position: absolute;

}

.steam {
  position: absolute;
}



.circle {

  border-radius: 50px;

  height: 100px;

  position: absolute;

  width: 100px;

}






.animated {

  -webkit-animation: colorchange 5s infinite;

  animation: colorchange 5s infinite;

}





@keyframes colorchange

{

  0%   {background: rgb(252, 174,187);}

  25%  {background: rgb(242, 240,161);}

  50%  {background: rgb(116,209,234);}

  75%  {background: rgb(191,155,222);}

  100% {background: rgb(241,178,220);}

}



@-webkit-keyframes colorchange

{

  0%   {background: rgb(252,174,187);}

  25%  {background: rgb(242, 240,161);}

  50%  {background: rgb(116,209,234);}

  75%  {background: rgb(191,155,222);}

  100% {background: rgb(241,178,220);}

}